<div class="container">
  <h1>Hi.</h1>
  <div>
    <p>Du hast Kidney irgendwo gefunden? <strong>Noice!</strong></p>
    <p>Mach ein Foto von ihm, poste es in deiner Story und tagge <strong><a target="_blank" href="//instagram.com/kidneythehorse">@kidneythehorse</a></strong>.</p>
  </div>
  {% if count %}
    <p>Kidney wurde bisher <strong>{{ count }}</strong>{% if max %} / {{ max }}{% endif%} mal gefunden.</p>
  {% endif %}
</div>
